@import "tailwindcss";
@import "./fonts.css";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-figtree: "Figtree", sans-serif;
    --container-max: 375px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #F9F6F4;
        --foreground: #ededed;
    }
}

body {
    @apply font-figtree;
}

.container {
    max-width: var(--container-max);
    margin-left: auto;
    margin-right: auto;
}
